# {{ ansible_managed }}
export DJANGO_SECRET_KEY={{ SECRET_KEY }}
export DJANGO_SETTINGS_MODULE={{ django_settings }}
export DJANGO_AWS_ACCESS_KEY_ID="{{ DJANGO_AWS_ACCESS_KEY_ID }}"
export DJANGO_AWS_SECRET_ACCESS_KEY="{{ DJANGO_AWS_SECRET_ACCESS_KEY }}"
export DJANGO_AWS_STORAGE_BUCKET_NAME="{{ DJANGO_AWS_STORAGE_BUCKET_NAME }}"
export DATABASE_URL="postgres://localhost/{{ database_name }}"
export SENDGRID_USERNAME="{{ SENDGRID_USERNAME }}"
export SENDGRID_PASSWORD="{{ SENDGRID_PASSWORD }}"

alias ls='ls --color'
source {{ virtualenv_dir }}/bin/activate
cd {{ webapp_dir }}
